<%- include('includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>
<form action="/add-user" method="post">
    <input type="text" name="userName" id="userName">
    <button type="submit">Add user</button>
</form>
<%- include('includes/end.ejs') %>